jellyfin_docker/cache/*
jellyfin_docker/config/logs
#jellyfin_docker/media
#jellyfin_docker/media2

# jellyfin_docker/config/config
# jellyfin_docker/config/log
# jellyfin_docker/config/transcodes
